body {
    background-color : #FDA32A;
    font-family: 'Prompt', sans-serif;
    text-align: center;
}

.shared, .random {
    padding : 15px;
    margin : 15px;
}

button {
    font-family: 'Prompt', sans-serif;
    background-color : #EEEEEE;
    border-color : #FFFFFF;
    border-width : 2px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 35%;
    margin: 15px;
    padding : 10px;
}

.result {
    padding : 10px;
    border: 3px solid white;
    text-align: center;
}